#p1 {
        color: blue;
        text-shadow: blanchedalmond;
      }

      .red {
        color:black;
        text-align: left;
        text-size-adjust: 50px;
      }
      *{
        background-color: bisque;
        font-weight: 200;
        font-style: italic;
      }
      #h1 {
        font-weight: bold;
      }